[user]
  name = Michael Tolly
  email = miketolly@gmail.com
[push]
  default = simple
[alias]
  d    = diff -M
  dc   = diff --cached -M
  dcs  = diff --cached --stat -M
  ci   = commit
  ls   = log --stat
  tree = log --graph --oneline --all
  s    = status
  pf   = pull --ff-only
  fdx  = clean -fdx
[core]
  excludesfile = ~/.gitignore
  editor = vim
